[buildout]
develop = .
parts = test eggs
versions = versions

[eggs]
recipe = zc.recipe.egg
eggs =
    isotoma.recipe.zope2install
interpreter = zope2installpy

[test]
recipe = zc.recipe.testrunner
eggs =
    isotoma.recipe.zope2install [test]
defaults = ['-s', 'isotoma.recipe.zope2install']

[versions]
zc.buildout = 1.4.3
zc.recipe.testrunner = 1.3.0
zc.recipe.egg = 1.2.3b2
zope.interface = 3.6.3
zope.exceptions = 3.6.1

